$main : '#ff1b1b '; 




.reg-main{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets//NG-en-20240205-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    position: absolute;
    width: 100%;
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    overflow: hidden;
}

.reg{
    width: 100%;
    height: 100vh;
    height: 100svh;
    background: linear-gradient(to top , #000000b2 , #000000a9);
    position: absolute;
    z-index: 999;
}


.logo {
    img{
        height: 30px;
        @media (max-width : 900px) {
            height: 20px;
        }
    }
}

.register-Form{
    position: relative;
    z-index: 9999;
}



.sign-in{
    .header{
        margin-top: 28px;
    }
    @media (max-width: 800px) {
          background: #000;
          height: 100vh;
          height: 100svh;
           width: 100%;
            position: fixed;
            top: 0;
            left: 0;
    }
    form{
        background : rgba(0, 0, 0, 0.479);
        padding: 30px;
        @media (max-width: 800px) {
            padding: 0;
            width: 100%; 
            margin-top: 40px;
      }
        width: auto; 
        border-radius: 5px;    
 }
}

