*a{
  text-decoration: none;
}

body{
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    min-height: 100svh;
    min-height: 100dvh;
  }