@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
$like-skyblue : '#185abc' ;
$main : '#ff1b1b '; 
$border-like-gray : '#979797' ;
$border_trans_one :'rgba(0,0,0,.38)' ;
$text_one : "#202124" ;
$main_two : "#d93025";
$background_one : "efefef" ;
$border_two : "#656565" ;
$background_like-blue : "#1a73e8" ;
$background_like-blue-two : "#417cc1";
$border_main : "#f00";
$button_one :"rgba(226,74,74,.49)" ;
$button_two : "#e24a4a";
$border_three :" #c1c1c1" ;
$border_four : "#4d90fe";




